<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}aprende{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ path('files', {file: 'assets/images/favicon.png'}) }}">
    <meta name="theme-color" content="#8bc34a">
    {% block facebook %}
    <meta property="og:locale" content="en">
    <meta property="og:site_name" content="aprende">
    <meta property="og:url" content="{{ url('main.index') }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="aprende">
    <meta property="og:description" content="...">
    <meta property="og:image" content="{{ url('files', {file: 'assets/images/aprende.png'}) }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="640">
    <meta property="og:image:height" content="480">
    <link rel="stylesheet" href="/assets/styles/main.min.css">
    {% endblock %}
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% include 'Aprende/Views/Layout/navbar.html' %}
    {% block body %}{% endblock %}
    <script src="/assets/scripts/main.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
