<nav class="nav">
  <ul>
    {% if userLogged is defined and userLogged %}
      <li><a href="#">{{ userLogged.first_name }}</a></li>
       |
      <li><a href="{{ path('user.logout') }}">Log Out</a></li>
    {% else %}
      <li><a href="{{ path('user.login') }}">Log In</a></li>
       |
      <li><a href="{{ path('user.register') }}">Register</a></li>
    {% endif %}
  </ul>
</nav>
