<div class="search-bar">
  <h1 class="logo"><a href="{{ path('main.index') }}">aprende</a></h1>
  <form action="{{ path('main.search') }}" method="GET">
    <input type="text" name="search" class="search-input" placeholder="What are you looking for?"{% if search is defined %} value="{{ search.search }}"{% endif %} required>
  </form>
</div>
