{% extends 'Aprende/Views/Layout/base.html' %}

{% block body %}

  <div class="container-fluid search">
    <h1 class="logo"><a href="{{ path('main.index') }}">aprende</a></h1>
    <form action="{{ path('main.search') }}" method="GET">
      <div>
        <input type="text" name="search" class="search-input" placeholder="What are you looking for?" required autofocus>
      </div>
      <div>
        <select name="subject" class="search-select">
          <option value="">Subject</option>
          {% for subject in subjects %}
            <option value="{{ subject.value }}">{{ subject.text }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="search-button">Search</button>
      </div>
    </form>
  </div>

{% endblock %}
