{% extends 'Aprende/Views/Layout/base.html' %}

{% block title %}
  {{ result.title }} | {{ parent() }}
{% endblock %}

{% block body %}

  {% include 'Aprende/Views/Layout/searchbar.html' %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-md-10">
        <div class="result">
          <h4 class="title">{{ result.title }}</h4>
          <div class="row">
            <div class="col-sm-5">
              {% if result.thumb %}
                <img src="{{ result.thumb }}" class="thumbnail" style="width: 100%">
              {% else %}
                <img src="{{ path('files', {file: 'assets/images/default-thumbnail.png'}) }}" class="thumbnail" style="width: 100%">
              {% endif %}
              <div class="text-center">
                <!-- <h5>OER Commons</h5> -->
                <i class="fa fa-user" style="color: #999" aria-label="visits"></i> {{ result.visits }}
                <i class="fa fa-arrow-circle-right" style="color: #999" aria-label="saves"></i> {{ result.saves }}
                <i class="fa fa-tag" style="color: #999" aria-label="tags"></i> {{ result.tags }}
              </div>
              <!--
              <div class="text-center">
                <h5>Aprende</h5>
                <i class="fa fa-user" style="color: #999" aria-label="visits"></i> <div class="views"></div>
              </div>
               -->
            </div>
            <div class="col-sm-7">
              <div class="resource-buttons">
                <a href="{{ result.resource_view }}" class="resource-button" target="_blank">View Resource</a>
                <a href="{{ result.resource }}" class="resource-button" target="_blank">OER Commons</a>
              </div>
              {% if result.author|length %}
                <div>Author: {{ result.author|join(', ') }}</div>
              {% endif %}
              {% if result.publisher %}
                <div>Provider: {{ result.publisher }}</div>
              {% endif %}
              <div>Subject: {{ result.subjects|join(', ') }}</div>
              <div>Level: {{ result.educationalContext|join(', ') }}</div>
              <div style="height: 20px"></div>
              <div>Language: {{ result.language }}</div>
              <div>Material Type: {{ result.type|join(', ') }}</div>
              <div>Media Format: {{ result.format|join(', ') }}</div>
            </div>
          </div>
          <div class="description">
            <p>Abstract: {{ result.description }}</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-sm-3 col-md-2">
        <div class="recommenders"></div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    new View("{{ path('view.add') }}", "{{ object_uri }}", "{{ result.subjects|join(', ') }}")
      .add().show(function(views) {
        $('.views').html(views);
      });

    new Recommender("{{ path('recommender') }}")
      .show(function(recs) {
        var list = [];
        $.each(recs, function(i, e) {
          var rec = '<div class="text-center"><a href="{{ path("main.object", {object: ''}) }}' + encodeURIComponent(e.object) + '">' + e.title + '</a></div>';

          rec += '<a href="{{ path("main.object", {object: ''}) }}' + encodeURIComponent(e.object) + '">';
          if (e.thumb) {
            rec += '<img src="' + e.thumb + '" class="thumbnail" style="width: 100%">';
          } else {
            rec += '<img src="{{ path('files', {file: 'assets/images/default-thumbnail.png'}) }}" class="thumbnail" style="width: 100%">';
          }
          rec += '</a>';
          list.push(rec);
        });
        $('.recommenders').html(list.join(''));
      });
  </script>
{% endblock %}
