{% extends 'Aprende/Views/Layout/base.html' %}

{% block title %}
  Search results:{{ search.search }} | {{ parent() }}
{% endblock %}

{% block body %}

  {% include 'Aprende/Views/Layout/searchbar.html' %}

  <div class="container-fluid">
    {% if results is defined and results and results|length %}
      <h4 class="search-title">Results: <span class="search-keyword">{{ search.search }}</span> #{{ total }}</h4>

      <div class="results">
        {% for result in results %}
          <div class="result">
            <h4 class="title">
              <a href="{{ path('main.object', {object: result.object.value}) }}">
                {{ result.title.value }}
              </a>
            </h4>
            <a href="{{ path('main.object', {object: result.object.value}) }}">
              {% if result.thumbnail.value matches '{^http}' %}
                <img src="{{ result.thumbnail.value }}" class="thumbnail" align="left">
              {% else %}
                <img src="{{ path('files', {file: 'assets/images/default-thumbnail.png'}) }}" class="thumbnail" align="left">
              {% endif %}
            </a>
            <p class="description">{{ result.description.value }}</p>
            <div class="clearfix"></div>
          </div>
          <div class="separator"></div>
        {% endfor %}
      </div>

      {% if total > 10 %}
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% set offset = search.offset - search.limit %}
            {% set active = offset >= 0 %}
            <li{% if not active %} class="disabled"{% endif %}>
              <a href="{% if active %}{{ path('main.search', {search: search.search, subject: search.subject, offset: offset, limit: search.limit }) }}{% else %}javascript:void(0){% endif %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% for i in 0..(total // search.limit) %}
              {% set offset = i * search.limit %}
              {% set current = search.offset == offset %}
              <li{% if current %} class="active"{% endif %}>
                <a href="{{ path('main.search', {search: search.search, subject: search.subject, offset: offset, limit: search.limit }) }}">
                  {{ i + 1 }}{% if current %} <span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
            {% endfor %}
            {% set offset = search.offset + search.limit %}
            {% set active = total >= offset %}
            <li{% if not active %} class="disabled"{% endif %}>
              <a href="{% if active %}{{ path('main.search', {search: search.search, subject: search.subject, offset: offset, limit: search.limit }) }}{% else %}javascript:void(0){% endif %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      {% endif %}

    {% else %}
      <h4>No results :(</h4>
    {% endif %}
  </div>

{% endblock %}
