* {
  outline: 0 !important;
}

body {
  background: #fff;
}

.no-text-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-fluid {
  margin-top: 35px;
  padding: 10px;
}

.search {
  text-align: center;
  margin-top: 125px;

  .logo {
    font-size: 48pt;
    padding: 3px;
  }
}

.search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
  border-bottom: 1px solid #8bc34a;

  .logo {
    font-size: 24pt;
    margin: 0;
    padding: 0 5px;
    float: left;
    margin-top: 2px;
  }

  form {
    display: inline-block;

    .search-input {
      width: 300px;
      padding: 5px;
      text-align: left;
    }
  }
}

.logo {
  .no-text-select();

  &::first-letter {
    color: #8bc34a;
  }

  a {
    color: #999;
    text-decoration: none;
  }
}

.nav {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;

  & > ul {
    color: #ccc;

     & > li {
      text-align: right;
      display: inline;
      padding: 3px;

      & > a {
        color: #8bc34a;
        cursor: pointer;

        &:hover,
        &:focus {
          color: #8bc34a;
          text-decoration: underline !important;
          background-color: transparent !important;
        }
      }
    }
  }
}

.search-input {
  padding: 10px;
  margin: 5px;
  width: 85%;
  text-align: center;
}

@media (min-width: 600px) {
  .search .search-input {
    width: 550px;
  }
}

@media (max-width: 600px) {
  .search-bar form {
    width: 97.5%;
    width: ~"calc(100% - 10px)";

    .search-input {
      width: 100%;
    }
  }

  .container-fluid {
    margin-top: 75px;
  }
}

.search-select {
  padding: 10px;
  margin: 5px;
  width: 120px;
}

.search-input,
.search-select {
  color: #777;
  background: #fff;
  border: 1px solid #ccc;
}

.search-button,
.resource-button {
  padding: 11px;
  width: 100px;
  color: #fff;
  border: 0;
  background: #8bc34a;
}

.resource-button:hover,
.resource-button:focus {
  color: #fff;
  text-decoration: none;
}

.resource-buttons {
  margin: 10px 0 20px 0;
}

.recommenders {
  padding: 5px 0 5px 10px;
  border-left: 1px solid #eee;

  a {
    color: #8bc34a;
  }
}

@media (max-width: 768px) {
  .recommenders {
    border: 0;
    border-top: 1px solid #eee;
  }

  .resource-buttons {
    margin: 20px;
    text-align: center;
  }
}

.form-small {
  max-width: 300px;
  margin: 0 auto;

  .title {
    color: #8bc34a;
    font-size: 16pt;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
  }

  .form-group {
    text-align: left;

    .form-control {
      border-radius: 0;
      -webkit-transition: none;
      transition: none;

      &:focus {
        -webkit-transition: none;
        transition: none;
        box-shadow: none;
      }
    }
  }

  .btn-send {
    color: #fff;
    background: #8bc34a;
    border-radius: 0;
  }
}

input, select {
  &:focus {
    border-color: #8bc34a !important;
  }
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #777;
}

.search-select {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px;
  background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
  background-repeat: no-repeat;
  background-position: 95% 42%;
}

.search-placeholder() {
  color: #777;
}

::-webkit-input-placeholder {
  .search-placeholder();
}

:-moz-placeholder { /* Firefox 18- */
  .search-placeholder();
}

::-moz-placeholder {  /* Firefox 19+ */
  .search-placeholder();
}

:-ms-input-placeholder {
  .search-placeholder();
}

.search-title {
  font-size: 20pt;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.search-keyword {
  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;

  }
}

.results {
  .separator {
    height: 1px;
    background: #eee;
    margin-top: 10px;
  }

  .result {
    padding-left: 5px;
    border-left: 5px solid #8bc34a;
  }
}

.result {
  color: #555;

  .title {
    color: #8bc34a;
    font-size: 16pt;
    text-decoration: underline;

    .highlight {
      font-weight: bold;
    }

    a {
      &, &:hover {
        color: #8bc34a;
      }
    }
  }

  .thumbnail {
    margin-right: 10px;
    width: 290px;
    height: auto;
  }

  .description {
    padding: 8px;

    .highlight {
      background: yellow;
    }
  }
}

.row {
  margin: 0 -10px;
}

.pagination {
  & > li {
    & > a, & > span {
      &, &:focus, &:hover {
        color: #8bc34a;
      }
    }

    &.active {
      & > a, & > span {
        &, &:focus, &:hover {
          background-color: #8bc34a;
          border-color: #8bc34a;
        }
      }
    }
  }
}
