{% extends 'Aprende/Views/Layout/base.html' %}

{% block title %}
  Log In | {{ parent() }}
{% endblock %}

{% block body %}

  {% include 'Aprende/Views/Layout/searchbar.html' %}

  <div class="container-fluid text-center">
    <form action="{{ path('user.login') }}" method="POST" class="form-small">
      <h4 class="title">Log In</h4>
      {% if response and not response.status %}
        <div class="text-danger">{{ response.message }}</div>
      {% endif %}
      <div class="form-group">
        <label for="email" style="color: #777">Email:*</label>
        <input type="email" class="form-control" name="email" id="email" value="{{ data.email }}" required autofocus>
        {% if response and response.errors|length and response.errors.email is defined %}
          <div class="text-danger">{{ response.errors.email }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="password" style="color: #777">Password:*</label>
        <input type="password" class="form-control" name="password" id="password" value="{{ data.password }}" minlength="4" required>
        {% if response and response.errors|length and response.errors.password is defined %}
          <div class="text-danger">{{ response.errors.password }}</div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-send">Send</button>
    </div>
    </form>
  </div>

{% endblock %}
