{% extends 'Aprende/Views/Layout/base.html' %}

{% block title %}
  Register | {{ parent() }}
{% endblock %}

{% block body %}

  {% include 'Aprende/Views/Layout/searchbar.html' %}

  <div class="container-fluid text-center">
    <form action="{{ path('user.register') }}" method="POST" class="form-small">
      <h4 class="title">Register</h4>
      {% if response and not response.status %}
        <div class="text-danger">{{ response.message }}</div>
      {% endif %}
      <div class="form-group">
        <label for="firstname" style="color: #777">First name:*</label>
        <input type="text" class="form-control" name="first_name" id="firstname" value="{{ data.first_name }}" minlength="2" maxlength="32" required autofocus>
        {% if response and response.errors|length and response.errors.first_name is defined %}
          <div class="text-danger">{{ response.errors.first_name }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="lastname" style="color: #777">Last name:*</label>
        <input type="text" class="form-control" name="last_name" id="lastname" value="{{ data.last_name }}" minlength="4" maxlength="64" required>
        {% if response and response.errors|length and response.errors.last_name is defined %}
          <div class="text-danger">{{ response.errors.last_name }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="email" style="color: #777">Email:*</label>
        <input type="email" class="form-control" name="email" id="email" value="{{ data.email }}" maxlength="255" required>
        {% if response and response.errors|length and response.errors.email is defined %}
          <div class="text-danger">{{ response.errors.email }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="password" style="color: #777">Password:*</label>
        <input type="password" class="form-control" name="password" id="password" value="{{ data.password }}" minlength="4" maxlength="255" required>
        {% if response and response.errors|length and response.errors.password is defined %}
          <div class="text-danger">{{ response.errors.password }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="confirm-password" style="color: #777">Confirm password:*</label>
        <input type="password" class="form-control" name="confirm_password" id="confirm-password" value="{{ data.confirm_password }}" minlength="4" maxlength="255" required>
        {% if response and response.errors|length and response.errors.confirm_password is defined %}
          <div class="text-danger">{{ response.errors.confirm_password }}</div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-send">Send</button>
    </form>
  </div>

{% endblock %}
